<!--team sub title-->
<div class="row text-center">
  <div class="col-12 col-md-12 text-muted text-center">
    <h6 style="max-width: 600px;margin: auto;color:#444242;">
      BOARD OF DIRECTORS 2019-20
    </h6>
    <br />
  </div>
</div>
<!--End of team sub title-->


<!-- Board section -->
<div class="container bg-light text-left p-4">
  <br />
  <div class="row">
    <div class="col-12 col-md-12 text-center text-muted">
      <h4 class="text-info">BOARD</h4>
    </div>
  </div>
  <hr />

  {% for item in site.data.board-2020.main %}
  <div class="row">
    <div class="col-4 col-md-4">
      <h6>{{item.name}}</h6>
    </div>
    <div class="col-8 col-md-4">
      <h6>{{item.position}}</h6>
    </div>
  </div>
  {% endfor %}

  <hr />
  <div class="row">
    <div class="col-4 col-md-4 text-info">
      <h6>Avenues of Service</h6>
    </div>
    <div class="col-4 col-md-4 text-info">
      <h6>Directors</h6>
    </div>
    <div class="col-4 col-md-4 text-info">
      <h6>Co-Directors</h6>
    </div>
  </div>
  <hr />
  {% for item in site.data.board-2020.avenues %}
  <div class="row">
    <div class="col-4 col-md-4">
      <h6>{{item.position}}</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>{{item.name}}</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>{{item.co}}</h6>
    </div>
  </div>
  {% endfor %}

  <hr />
  <div class="row">
    <div class="col-4 col-md-4 text-info">
      <h6>Commitees</h6>
    </div>
    <div class="col-4 col-md-4 text-info">
      <h6>Chairperson</h6>
    </div>
    <div class="col-4 col-md-4 text-info">
      <h6>Members</h6>
    </div>
  </div>
  <hr />

  {% for item in site.data.board-2020.commitee %}
  <div class="row">
    <div class="col-4 col-md-4">
      <h6>{{item.position}}</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>{{item.name}}</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>{{item.co}}</h6>
    </div>
  </div>
  {% endfor %}

</div>
<!-- End of Board section -->


<br />
<hr />