<!--team sub title-->
<div class="row text-center">
  <div class="col-12 col-md-12 text-muted text-center">
    <h6 style="max-width: 600px;margin: auto;color:#444242;">
      BOARD OF DIRECTORS 2019-20
    </h6>
    <br />
  </div>
</div>
<!--End of team sub title-->
</div>

<!-- Board section -->
<div class="container bg-light">
  <br />
  <div class="row">
    <div class="col-12 col-md-12 text-center text-muted">
      <h4 class="text-info">BOARD</h4>
    </div>
  </div>
  <hr />


  <div class="row">
    <div class="col-4 col-md-4">
      <h6>President</h6>
    </div>
    <div class="col-8 col-md-4">
      <h6>Rtn Lalit Sawhney</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Secretary</h6>
    </div>
    <div class="col-8 col-md-4">
      <h6>Rtn Abdul Aziz Seyid</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Immediate Past President</h6>
    </div>
    <div class="col-8 col-md-4">
      <h6>Rtn Dr. Raj Kamal Bhargava</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>President Elect (2020-2021)</h6>
    </div>
    <div class="col-8 col-md-4">
      <h6>Rtn Mukta Malhotra</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Vice President</h6>
    </div>
    <div class="col-8 col-md-4">
      <h6>Rtn Mukta Malhotra</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Joint Secretary </h6>
    </div>
    <div class="col-8 col-md-4">
      <h6>Rtn Anjali Pandey</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Treasurer </h6>
    </div>
    <div class="col-8 col-md-4">
      <h6>Rtn Vimal Kumar Singhania</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Sergeant-at-Arms </h6>
    </div>
    <div class="col-8 col-md-4">
      <h6>Rtn Manoj Goyal</h6>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-4 col-md-4 text-info">
      <h6>Avenues of Service</h6>
    </div>
    <div class="col-4 col-md-4 text-info">
      <h6>Directors</h6>
    </div>
    <div class="col-4 col-md-4 text-info">
      <h6>Co-Directors</h6>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Club Services</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn Mukta Malhotra</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn Anjali Pandey</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Community Services </h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn Mukesh Bhargava</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn R S Atroley</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Vocational Services </h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn Neel Kamal Bhargava</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn Ramandeep Singh</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>International Services </h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn Sanjay Setia</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn Amit Dhanuka</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Youth Services </h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn Rohit Kapur</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn Ravi Khanna</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-4 col-md-4">
      <h6>Club Trainer </h6>
    </div>
    <div class="col-4 col-md-4">
      <h6>Rtn Dr. Raj Kamal Bhargava</h6>
    </div>
    <div class="col-4 col-md-4">
      <h6></h6>
    </div>
  </div>
</div>
<!-- End of Board section -->


<br />
<hr />