<!--GALLERY SECTION-->
<section class="section-pad" id="gallery">
  <div class="container-fluid text-center">
    <!--Rotary Category title-->
    <div class="row text-center">
      <div class="col-12 col-md-12 underline" style="margin-top: 20px">
        <h3 class="section-title">GALLERY</h3>
      </div>
    </div>
    <!--End of Rotary Category title-->

    <br />

    <!--Rotary Category sub title-->
    <div class="row text-center">
      <div class="col-12 col-md-12 text-muted text-center">
        <h6 style="max-width: 600px; margin: auto; color: #444242">
          Some Quick Glimpse of our work
        </h6>
        <br />
      </div>
    </div>
    <!--End of Rotary Category sub title-->
    <br />

    <!-- may -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">May - 2021</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2021.may %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2021/may/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2021/may/{{item}}"
              style="object-fit: cover; object-position: top"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />

    <!-- apr -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">April - 2021</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2021.apr %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2021/apr/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2021/apr/{{item}}"
              style="object-fit: cover; object-position: top"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />

    <!-- mar -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">March - 2021</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2021.mar %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2021/mar/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2021/mar/{{item}}"
              style="object-fit: cover; object-position: top"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />

    <!-- feb -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">February - 2021</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2021.feb %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2021/feb/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2021/feb/{{item}}"
              style="object-fit: cover; object-position: top"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />

    <!-- jan -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">January - 2021</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2021.jan %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2021/jan/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2021/jan/{{item}}"
              style="object-fit: cover; object-position: top"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">December - 2020</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2020.dec %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2020/dec/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2020/dec/{{item}}"
              style="object-fit: cover; object-position: top"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">November - 2020</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2020.nov %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2020/nov/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2020/nov/{{item}}"
              style="object-fit: cover; object-position: top"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">October - 2020</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2020.oct %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2020/oct/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2020/oct/{{item}}"
              style="object-fit: cover; object-position: top"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">September - 2020</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2020.sep %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2020/sep/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2020/sep/{{item}}"
              style="object-fit: cover; object-position: top"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <br />

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">August - 2020</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2020.aug %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2020/aug/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2020/aug/{{item}}"
              style="object-fit: cover; object-position: top"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <hr />

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">July - 2020</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2020.july %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2020/jul/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2020/jul/{{item}}"
              style="object-fit: cover"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <hr />

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">March - 2020</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2020.march %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2020/mar/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2020/mar/{{item}}"
              style="object-fit: cover"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <hr />

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">February - 2020</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2020.february %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2020/feb/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2020/feb/{{item}}"
              style="object-fit: cover"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <hr />

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">January - 2020</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.y2020.january %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/2020/jan/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/2020/jan/{{item}}"
              style="object-fit: cover"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <hr />

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">NOVEMBER - 2019</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.november %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/nov-2019/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/nov-2019/{{item}}"
              style="object-fit: cover"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">OCTOBER - 2019</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.october %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/oct-2019/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/oct-2019/{{item}}"
              style="object-fit: cover"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">SEPTEMBER - 2019</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.september %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/sept-2019/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/sept-2019/{{item}}"
              style="object-fit: cover"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">AUGUST - 2019</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.august %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/aug-2019/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/aug-2019/{{item}}"
              style="object-fit: cover"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">JULY - 2019</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-gutters my-4">
      {% for item in site.data.gallery.july %}
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="/gallery/july-2019/{{item}}"
          >
            <img
              alt="{{item}} || rotary-gurgaon"
              src="/gallery/july-2019/{{item}}"
              style="object-fit: cover"
            />
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

    <br />
    <hr />

    <!-- Apr 2019 gallery section -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">APRIL - 2019</h5>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="row no-gutters">
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/apr-2019/1.jpg"
          >
            <img alt="" src="gallery/apr-2019/1.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/apr-2019/2.jpg"
          >
            <img alt="" src="gallery/apr-2019/2.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/apr-2019/3.jpg"
          >
            <img alt="" src="gallery/apr-2019/3.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/4.jpg">
            <img alt="" src="gallery/apr-2019/4.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/5.jpg">
            <img alt="" src="gallery/apr-2019/5.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/6.jpg">
            <img alt="" src="gallery/apr-2019/6.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/7.jpg">
            <img alt="" src="gallery/apr-2019/7.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/8.jpg">
            <img alt="" src="gallery/apr-2019/8.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/9.jpg">
            <img alt="" src="gallery/apr-2019/9.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/10.jpg">
            <img alt="" src="gallery/apr-2019/10.jpg" />
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/11.jpg">
            <img alt="" src="gallery/apr-2019/11.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/12.jpg">
            <img alt="" src="gallery/apr-2019/12.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/13.jpg">
            <img alt="" src="gallery/apr-2019/13.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/14.jpg">
            <img alt="" src="gallery/apr-2019/14.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/15.jpg">
            <img alt="" src="gallery/apr-2019/15.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/16.jpg">
            <img alt="" src="gallery/apr-2019/16.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/17.jpg">
            <img alt="" src="gallery/apr-2019/17.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/18.jpg">
            <img alt="" src="gallery/apr-2019/18.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/19.jpg">
            <img alt="" src="gallery/apr-2019/19.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/20.jpg">
            <img alt="" src="gallery/apr-2019/20.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/21.jpg">
            <img alt="" src="gallery/apr-2019/21.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/22.jpg">
            <img alt="" src="gallery/apr-2019/22.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/23.jpg">
            <img alt="" src="gallery/apr-2019/23.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/24.jpg">
            <img alt="" src="gallery/apr-2019/24.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/25.jpg">
            <img alt="" src="gallery/apr-2019/25.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/26.jpg">
            <img alt="" src="gallery/apr-2019/26.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/27.jpg">
            <img alt="" src="gallery/apr-2019/27.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/apr-2019/28.jpg">
            <img alt="" src="gallery/apr-2019/28.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/dec-2019/29.jpg">
            <img alt="" src="gallery/apr-2019/29.jpg" />
          </a>
        </div>
      </div>
    </div>

    <br />
    <hr />

    <!-- Mar 2019 gallery section -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">MAR - 2019</h5>
          </div>
        </div>
      </div>
    </div>

    <br />
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/mar-2019/1.jpg"
          >
            <img alt="" src="gallery/mar-2019/1.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/mar-2019/2.jpg"
          >
            <img alt="" src="gallery/mar-2019/2.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/mar-2019/3.jpg"
          >
            <img alt="" src="gallery/mar-2019/3.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/5.jpg">
            <img alt="" src="gallery/mar-2019/5.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/6.jpg">
            <img alt="" src="gallery/mar-2019/6.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/7.jpg">
            <img alt="" src="gallery/mar-2019/7.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/8.jpg">
            <img alt="" src="gallery/mar-2019/8.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/10.jpg">
            <img alt="" src="gallery/mar-2019/10.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/11.jpg">
            <img alt="" src="gallery/mar-2019/11.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/12.jpg">
            <img alt="" src="gallery/mar-2019/12.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/13.jpg">
            <img alt="" src="gallery/mar-2019/13.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/14.jpg">
            <img alt="" src="gallery/mar-2019/14.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/15.jpg">
            <img alt="" src="gallery/mar-2019/15.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/16.jpg">
            <img alt="" src="gallery/mar-2019/16.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/17.jpg">
            <img alt="" src="gallery/mar-2019/17.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/18.jpg">
            <img alt="" src="gallery/mar-2019/18.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/19.jpg">
            <img alt="" src="gallery/mar-2019/19.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/20.jpg">
            <img alt="" src="gallery/mar-2019/20.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/21.jpg">
            <img alt="" src="gallery/mar-2019/21.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/22.jpg">
            <img alt="" src="gallery/mar-2019/22.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/23.jpg">
            <img alt="" src="gallery/mar-2019/23.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/24.jpg">
            <img alt="" src="gallery/mar-2019/24.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/mar-2019/25.jpg">
            <img alt="" src="gallery/mar-2019/25.jpg" />
          </a>
        </div>
      </div>
    </div>
    <!-- End of Mar 2019 gallery section -->

    <br />
    <hr />
    <!-- Feb 2019 gallery section -->

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">FEB - 2019</h5>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="row no-gutters">
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/feb-2019/1.jpg"
          >
            <img alt="" src="gallery/feb-2019/1.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/feb-2019/2.jpg"
          >
            <img alt="" src="gallery/feb-2019/2.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/feb-2019/3.jpg"
          >
            <img alt="" src="gallery/feb-2019/3.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/4.jpg">
            <img alt="" src="gallery/feb-2019/4.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/5.jpg">
            <img alt="" src="gallery/feb-2019/5.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/6.jpg">
            <img alt="" src="gallery/feb-2019/6.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/7.jpg">
            <img alt="" src="gallery/feb-2019/7.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/8.jpg">
            <img alt="" src="gallery/feb-2019/8.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/9.jpg">
            <img alt="" src="gallery/feb-2019/9.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/10.jpg">
            <img alt="" src="gallery/feb-2019/10.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/11.jpg">
            <img alt="" src="gallery/feb-2019/11.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/12.jpg">
            <img alt="" src="gallery/feb-2019/12.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/13.jpg">
            <img alt="" src="gallery/feb-2019/13.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/14.jpg">
            <img alt="" src="gallery/feb-2019/14.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/15.jpg">
            <img alt="" src="gallery/feb-2019/15.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/feb-2019/16.jpg">
            <img alt="" src="gallery/feb-2019/16.jpg" />
          </a>
        </div>
      </div>
    </div>
    <!-- End of Feb 2019 gallery section -->

    <!-- Jan 2019 gallery section -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">JAN - 2019</h5>
          </div>
        </div>
      </div>
    </div>

    <br />
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/jan-2019/1.jpg"
          >
            <img alt="" src="gallery/jan-2019/1.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/jan-2019/2.jpg"
          >
            <img alt="" src="gallery/jan-2019/2.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/4.jpg">
            <img alt="" src="gallery/jan-2019/4.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/5.jpg">
            <img alt="" src="gallery/jan-2019/5.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/6.jpg">
            <img alt="" src="gallery/jan-2019/6.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/7.jpg">
            <img alt="" src="gallery/jan-2019/7.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/8.jpg">
            <img alt="" src="gallery/jan-2019/8.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/9.jpg">
            <img alt="" src="gallery/jan-2019/9.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/10.jpg">
            <img alt="" src="gallery/jan-2019/10.jpg" />
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/11.jpg">
            <img alt="" src="gallery/jan-2019/11.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/12.jpg">
            <img alt="" src="gallery/jan-2019/12.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/13.jpg">
            <img alt="" src="gallery/jan-2019/13.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/14.jpg">
            <img alt="" src="gallery/jan-2019/14.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/15.jpg">
            <img alt="" src="gallery/jan-2019/15.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/16.jpg">
            <img alt="" src="gallery/jan-2019/16.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/17.jpg">
            <img alt="" src="gallery/jan-2019/17.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/18.jpg">
            <img alt="" src="gallery/jan-2019/18.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/19.jpg">
            <img alt="" src="gallery/jan-2019/19.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/20.jpg">
            <img alt="" src="gallery/jan-2019/20.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/21.jpg">
            <img alt="" src="gallery/jan-2019/21.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/22.jpg">
            <img alt="" src="gallery/jan-2019/22.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/23.jpg">
            <img alt="" src="gallery/jan-2019/23.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/24.jpg">
            <img alt="" src="gallery/jan-2019/24.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/jan-2019/25.jpg">
            <img alt="" src="gallery/jan-2019/25.jpg" />
          </a>
        </div>
      </div>
    </div>
    <!-- End of Jan 2019 gallery section -->

    <br />
    <hr />

    <!-- Dec 2018 gallery section -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div
            class="alert alert-success text-center box-effect-small"
            role="alert"
            style="margin-bottom: 0"
          >
            <h5 style="margin-bottom: 0">DECEMBER - 2018</h5>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="row no-gutters">
      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/dec-2018/1.jpg"
          >
            <img alt="" src="gallery/dec-2018/1.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/dec-2018/2.jpg"
          >
            <img alt="" src="gallery/dec-2018/2.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a
            class="gallery-popup wow jackInTheBox"
            href="gallery/dec-2018/3.jpg"
          >
            <img alt="" src="gallery/dec-2018/3.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/dec-2018/4.jpg">
            <img alt="" src="gallery/dec-2018/4.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/dec-2018/5.jpg">
            <img alt="" src="gallery/dec-2018/5.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/dec-2018/6.jpg">
            <img alt="" src="gallery/dec-2018/6.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/dec-2018/7.jpg">
            <img alt="" src="gallery/dec-2018/7.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/dec-2018/8.jpg">
            <img alt="" src="gallery/dec-2018/8.jpg" />
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 p-2">
        <div class="gallery-item wow fadeInUp">
          <a class="gallery-popup" href="gallery/dec-2018/9.jpg">
            <img alt="" src="gallery/dec-2018/9.jpg" />
          </a>
        </div>
      </div>
    </div>
    <!-- End of Dec 2018 gallery section -->
  </div>
</section>
<!--END OF GALLERY SECTION-->
