<div class="row pb-4">
  <div class="col-12 text-center">
    <h2 class="text-white">Board 2021-22</h2>
  </div>
</div>
<div class="row justify-content-center">
  {% for item in site.data.team-2022.board %}
  <div class="col-6 col-md-4">
    <div class="team-member">
      <img
        height="300"
        width="220"
        src="{{item.image}}"
        alt="{{item.name}}"
        style="object-fit: cover; border: 5px solid #eee"
      />
      <h6 class="text-white m-0"><strong>{{item.name}}</strong></h6>
      <p class="text-white">{{item.position}}</p>
    </div>
  </div>
  {% endfor %}
</div>
<br />
<hr />

{% if site.data.team-2022.chairs %}
<div class="row pb-4">
  <div class="col-12 text-center">
    <h2 class="text-white">Committee Chairs 2021-22</h2>
  </div>
</div>
{% endif %}

<div class="row justify-content-center">
  {% for item in site.data.team-2022.chairs %}
  <div class="col-6 col-md-4">
    <div class="team-member">
      <img
        height="300"
        width="220"
        src="{{item.image}}"
        alt="{{item.name}}"
        style="object-fit: cover; border: 5px solid #eee"
      />
      <h6 class="text-white m-0"><strong>{{item.name}}</strong></h6>
      <p class="text-white">{{item.position}}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% if site.data.team-2022.members %}
<div class="row pb-4">
  <div class="col-12 text-center">
    <h2 class="text-white">Our Members</h2>
  </div>
</div>
{% endif %}

<div class="row justify-content-center">
  {% for item in site.data.team-2022.members %}
  <div class="col-6 col-md-4">
    <div class="team-member">
      <img
        height="300"
        width="220"
        src="{{item.image}}"
        alt="{{item.name}}"
        style="object-fit: cover; border: 5px solid #eee"
      />
      <h6 class="text-white m-0"><strong>{{item.name}}</strong></h6>
      <br />
    </div>
  </div>
  {% endfor %}
</div>
<hr />
